
.{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.bg-dark {
    background-color: #75767B;
}


.card {
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 
